body{
    background-image: url(./image/DSC_0313.JPG) ;
    background-position:relative;
    background-size:cover ;
    background-repeat: no-repeat;
    font-weight: bold;
}


.header{
    text-align: center;
    color: black;
    font-style: normal;
    font-size: 200%;
    background-color: black;
    color:white;

}
.name{
    height: 150%;
    width: 30%;
    float: left;
    padding-bottom: 10%;
    size: cover;
}