body{
    background-image: url(./image/DSC_0313.JPG) ;
    background-position:relative;
    background-size:cover ;
    background-repeat: no-repeat;
    font-weight: bold;
}
.name{
    height: 150%;
    width: 30%;
    float: left;
    padding-bottom: 10%;
    size: cover;
}
    

.header{
    text-align: center;

}
.About{
    text-align-last: left;
    color:black;
    font-size: 160%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#pop{
    color:red;
    font-size: 200%;
    font-family: italic;
    font-weight:bold;
}
#pizza{
    color:red;
    font-size:200%;
    font-weight:bold;
}
.link{
    color:black;
    font-weight: bolder;
    font-size: 150%;
}
#linkage{
    color: black;
    font-weight: bolder;
    font-size: 150%;
}